@model IEnumerable<task.DAL.Models.Comments.Comment>

@{
    ViewBag.Title = "All comments";
}

<h2>Все комментарии</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Id", "AllComments", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>Email</th>
            <th>Текст</th>
            <th>
                @Html.ActionLink("Дата", "AllComments", new { sortOrder = ViewBag.DateSortParm })
            <th>
        </tr>
    </thead>
    <tbody>
        @foreach (var comment in Model)
        {
            <tr>

                <th>@comment.Id</th>
                <td>@comment.User.Email</td>
                <td>@comment.Text</td>
                <td>@comment.time</td>
            </tr>
        }
    </tbody>
</table>
